{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- Start Header Section -->
    {% include 'include/header.html' %}
    <!-- End Header Section -->

    <!-- Start Hero -->
    <section class="common-page-hero">
      <img
        src="{% static 'assets/img/bg/common-bg.png' %}"
        class="common-hero-bg ak-bg"
        alt="..."
      />
      <div class="common-hero-content">
        <div class="common-hero-info">
          <div
            class="ak-section-heading ak-style-1 animation-title-content animation-style3"
          >
            <p class="ak-section-subtitle animation-title">Team Details</p>
            <h2 class="ak-section-title animation-title">
              Meet Our Expert Financial Advisory Team
            </h2>
          </div>
          <p class="back-btn"><a href="/">Home</a> / Team Details</p>
        </div>
        <a href="" class="phone-number">(406) 555-0120</a>
      </div>
    </section>
    <!-- End Hero -->

    <!-- Start Team Details -->
    <div class="ak-height-60 ak-height-lg-50"></div>
    <div class="atd">
      <div class="container">
        <div class="atd-content">
          <div class="atd-image-section">
            <img
              src="{% static 'assets/img/team/team_details.png' %}"
              alt="Matthew Thompson"
            />
            <div class="atd-email-vertical">
              <a href="mailto:matthew@investment.com">matthew@investment.com</a>
            </div>
          </div>
          <div class="atd-section">
            <h3 class="atd-title">Biography</h3>
            <h5 class="atd-subtitle">Matthew Thompson</h5>
            <p class="atd-shot-title">Investment Analyst</p>
            <p class="atd-desp">
              Matthew Thompson, often referred to as Matt in professional
              circles, is a seasoned investment analyst and author with over a
              decade of experience. His expertise lies in sustainable investing
              and emerging markets, where he combines financial acumen with a
              passion for environmental and social responsibility.
            </p>
            <p class="atd-desp">
              Matt is dedicated to helping clients navigate the complex
              landscape of sustainable investments while achieving their
              financial objectives.
            </p>
            <div class="ak-height-50 ak-height-lg-30"></div>
            <a href="/" class="common-btn">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="19"
                  height="19"
                  viewBox="0 0 19 19"
                  fill="none"
                >
                  <g clip-path="url(#clip0_251_1595)">
                    <path
                      d="M17.1462 12.3433C16.1022 12.3433 15.0771 12.18 14.1057 11.859C13.6297 11.6966 13.0445 11.8456 12.754 12.144L10.8366 13.5914C8.61296 12.4044 7.24324 11.0351 6.07247 8.8282L7.47732 6.96076C7.84231 6.59626 7.97322 6.06381 7.81637 5.56422C7.49397 4.58769 7.3302 3.56307 7.3302 2.51859C7.33024 1.76406 6.71639 1.15021 5.9619 1.15021H2.83025C2.07576 1.15021 1.46191 1.76406 1.46191 2.51855C1.46191 11.167 8.49781 18.2028 17.1462 18.2028C17.9007 18.2028 18.5146 17.589 18.5146 16.8345V13.7116C18.5145 12.9572 17.9007 12.3433 17.1462 12.3433Z"
                      fill="#030917"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_251_1595">
                      <rect
                        width="18"
                        height="18"
                        fill="white"
                        transform="translate(0.988281 0.619019)"
                      />
                    </clipPath>
                  </defs>
                </svg>
              </span>
              <span class="mt-1">Call: (406) 555-0120</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Start Team Details -->

    <!-- Start Atd skills -->
    <div class="ak-height-125 ak-height-lg-80"></div>
    <div class="container">
      <div class="atd-skills">
        <div class="atd-skill">
          <div class="atd-circle" data-percentage="85">
            <div class="atd-circle-mini">
              <div class="percentage"><span>85%</span></div>
            </div>
          </div>
          <div class="atd-skill-text">
            <h6 class="title">Investing Impact Assessment</h6>
            <p class="desp">Sustainable Investing & Impact Assessment</p>
          </div>
        </div>
        <div class="atd-skill">
          <div class="atd-circle" data-percentage="65">
            <div class="atd-circle-mini">
              <div class="percentage"><span>65%</span></div>
            </div>
          </div>
          <div class="atd-skill-text">
            <h6 class="title">Technology Sector Analysis</h6>
            <p class="desp">
              Technology Sector Analysis & Disruptive Innovations
            </p>
          </div>
        </div>
        <div class="atd-skill">
          <div class="atd-circle" data-percentage="65">
            <div class="atd-circle-mini">
              <div class="percentage"><span>65%</span></div>
            </div>
          </div>
          <div class="atd-skill-text">
            <h6 class="title">Economic Trends & Emerging</h6>
            <p class="desp">Global Macro-Economic Trends & Emerging Markets</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Start Atd skills -->

    <!-- Strat Contact -->
    <div class="ak-height-125 ak-height-lg-80"></div>
    <div class="container-fluid px-md-0">
      <div class="contact-form-content">
        <div class="contact-form-img">
          <img src="{% static 'assets/img/contact/contact-img-2.png' %}" alt="Contact Image" />
        </div>
        <div class="contact-form">
          <div>
            <h5 class="contact-title">Contact With Matthew Thompson</h5>
            <p>
              Matthew Thompson finance advisor service offers personalized
              financial planning services tailored to your unique goals and
              circumstances.
            </p>
            <div class="ak-height-40 ak-height-lg-30"></div>
          </div>
          <form>
            <div class="form-inputs">
              <div class="type_1">
                <label for="fullname" class="form-label">Your Name</label>
                <input
                  type="text"
                  name="fullname"
                  id="fullname"
                  class="csame"
                  placeholder="Write your name here..."
                />
              </div>
            </div>
            <div class="form-inputs">
              <div class="type_1">
                <label for="YourPhone" class="form-label">Your Phone</label>
                <input
                  type="tel"
                  name="phone"
                  id="YourPhone"
                  class="csame"
                  placeholder="Write your phone number here..."
                />
              </div>
              <div class="type_1">
                <label for="emailInput" class="form-label">Your Email*</label>
                <input
                  type="email"
                  name="email"
                  id="emailInput"
                  class="csame"
                  placeholder="Write your email here..."
                  required
                />
              </div>
            </div>
            <div class="form-textarea">
              <div class="type_1">
                <label for="textareaInput" class="form-label"
                  >Description</label
                >
                <textarea
                  name="description"
                  rows="3"
                  id="textareaInput"
                  class="csame"
                  placeholder="Write description details..."
                ></textarea>
              </div>
            </div>
            <div class="ak-height-40 ak-height-lg-40"></div>
            <button type="submit" class="common-btn border-0">
              <span>Send Message</span>
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="15"
                  height="15"
                  viewBox="0 0 15 15"
                  fill="none"
                >
                  <g clip-path="url(#clip0_201_978fsdf)">
                    <path
                      d="M1.42236 6.99728H13.089M13.089 6.99728L7.48903 1.39728M13.089 6.99728L7.48903 12.5973"
                      stroke="#030917"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_201_978fsdf">
                      <rect
                        width="14"
                        height="14"
                        fill="white"
                        transform="translate(0.00927734)"
                      />
                    </clipPath>
                  </defs>
                </svg>
              </span>
            </button>
          </form>
        </div>
      </div>
    </div>
    <!-- End Contact -->

    <!-- Start Footer -->
    {% include 'include/footer.html' %}
    <!-- End Footer -->

    <span class="ak-scrollup">
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0 10L1.7625 11.7625L8.75 4.7875V20H11.25V4.7875L18.225 11.775L20 10L10 0L0 10Z"
          fill="currentColor"
        />
      </svg>
    </span>
    <!-- Start Video Popup -->
    <div class="ak-video-popup">
      <div class="ak-video-popup-overlay"></div>
      <div class="ak-video-popup-content">
        <div class="ak-video-popup-layer"></div>
        <div class="ak-video-popup-container">
          <div class="ak-video-popup-align">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="about:blank"></iframe>
            </div>
          </div>
          <div class="ak-video-popup-close"></div>
        </div>
      </div>
    </div>
    <!-- End Video Popup -->

    <!-- Script -->
{% endblock %}