{% load static %}
<!-- Preloader -->
<div id="preloader" class="preloader">
    <div class="txt-loading">
      <div class="preloader-text">
        <img class="logo-icon" src="{{setting.logo.url}}" style="width: 150px; height: auto;" alt="logo" />
      </div>
      <div class="loading-border-content">
        <div class="loading-percent">0%</div>
        <div class="loading-border-show">
          <div class="loading-border"></div>
        </div>
      </div>
    </div>
  </div>
<!-- Preloader -->
<header class="ak-site_header ak-style1 ak-sticky_header">
    <div class="ak-main_header">
      <div class="container">
        <div class="ak-main_header_in">
          <div class="ak-main-header-left">
            <a class="ak-site_branding" href="{% url 'index' %}">
              <img src="{{setting.logo.url}}" style="width: 150px; height: auto;" alt="..." />
            </a>
          </div>
          <div class="ak-main-header-center">
            <div class="ak-nav ak-medium">
              <ul class="ak-nav_list">
                    <li>
                      <a href="{% url 'index' %}">Главая страница</a>
                    </li>
                <li>
                  <a href="{% url 'about' %}">О нас</a>
                </li>
                <li class="menu-item-has-children">
                  <a href="">Services</a>
                  <ul>
                    <li>
                      <a href="{% url 'services' %}">Services</a>
                    </li>
                    <li>
                      <a href="{% url 'service_detail' %}">Services Details</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="{% url 'pricing' %}">Pricing</a>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Pages</a>
                  <ul>
                    <li>
                      <a href="{% url 'blog' %}">Blog</a>
                    </li>
                    <li>
                      <a href="{% url 'blog_detail' %}">Blog Details</a>
                    </li>
                    <li>
                      <a href="{% url 'team' %}">Team</a>
                    </li>
                    <li>
                      <a href="{% url 'team_detail' %}">Team Details</a>
                    </li>
                    <li>
                      <a href="{% url 'study_case' %}">Case Study</a>
                    </li>
                    <li>
                      <a href="{% url 'study_case_detail' %}">Case Study Details</a>
                    </li>
                    <li>
                      <a href="{% url 'coming_soon' %}">Coming Soon</a>
                    </li>
                    <li>
                      <a href="404.html">404 Page</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="{% url 'contact' %}">Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="ak-main-header-right">
            <a href="{% url 'contact' %}" class="common-btn">
              <span> Get Started</span>
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="15"
                  height="15"
                  viewBox="0 0 15 15"
                  fill="none"
                >
                  <g clip-path="url(#clip0_201_978435345)">
                    <path
                      d="M1.42236 6.99728H13.089M13.089 6.99728L7.48903 1.39728M13.089 6.99728L7.48903 12.5973"
                      stroke="#030917"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_201_978435345">
                      <rect
                        width="14"
                        height="14"
                        fill="white"
                        transform="translate(0.00927734)"
                      />
                    </clipPath>
                  </defs>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="nav-bar-border"></div>
  </header>