{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Thememarch" />
    <!-- Favicon Icon -->
    <link rel="icon" href="{{setting.logo.url}}" />
    <!-- Site Title -->
    <title>Fingcon - Finance Advisory Html Template</title>
    <link rel="stylesheet" href="{% static 'assets/css/plugins/swiper.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/plugins/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
  </head>

  <body>
{% block content %}

{% endblock %}
<script src="{% static 'assets/js/plugins/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/swiper.min.js' %}"></script>

<script src="{% static 'assets/js/plugins/gsap.js' %}"></script>
<script src="{% static 'assets/js/plugins/splittext.js' %}"></script>
<script src="{% static 'assets/js/plugins/scrolltigger.js' %}"></script>
<script src="{% static 'assets/js/plugins/scrolltoplugins.js' %}"></script>

<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>
