{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- Start Header Section -->
    {% include 'include/header.html' %}
    <!-- End Header Section -->

    <!-- Start Hero -->
    <section class="common-page-hero">
      <img
        src="{% static 'assets/img/bg/common-bg.png' %}"
        class="common-hero-bg ak-bg"
        alt="..."
      />
      <div class="common-hero-content">
        <div class="common-hero-info">
          <div
            class="ak-section-heading ak-style-1 animation-title-content animation-style3"
          >
            <p class="ak-section-subtitle animation-title">Service Details</p>
            <h2 class="ak-section-title animation-title">
              Investment Planning & Management
            </h2>
          </div>
          <p class="back-btn"><a href="/">Home</a> / Service Details</p>
        </div>
        <a href="" class="phone-number">(406) 555-0120</a>
      </div>
    </section>
    <!-- End Hero -->

    <!-- Start Video  -->
    <div class="ak-height-60 ak-height-lg-50"></div>
    <div class="video-home ak-video-section">
      <img
        src="{% static 'assets/img/bg/service-details-video-bg.png' %}"
        class="parallax-bg"
        alt="..."
      />
      <div class="ak-center h-100">
        <a
          href="https://www.youtube.com/watch?v=VcaAVWtP48A"
          class="video-btn style-two ak-video-block ak-style1 ak-video-open"
        >
          <div class="rounded-btn"></div>
        </a>
      </div>
    </div>
    <!-- End Video -->

    <!-- Start Service Details -->
    <div class="ak-height-75 ak-height-lg-50"></div>
    <section>
      <div class="container">
        <div
          class="ak-section-heading ak-style-1 animation-title-content animation-style3"
        >
          <h2 class="ak-section-title animation-title">
            Investment Planning & Management
          </h2>
          <p class="ak-section-desp">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content
            here', making it look like readable English. It is a long
            established fact that a reader will be distracted by the readable
            content of a page when looking at its layout. The point of using
            Lorem Ipsum is that it has a more-or-less normal distribution.
          </p>
        </div>
        <div class="ak-height-50 ak-height-lg-30"></div>
        <!-- Start Images -->
        <div class="image-hov-one">
          <img
            class="img-fluid"
            src="{% static 'assets/img/service/service_detail_1.png' %}"
            alt="..."
          />
        </div>
        <div class="ak-height-50 ak-height-lg-30"></div>
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed to using 'Content here, content here', making it
          look like readable English. It is a long established fact that a
          reader will be distracted by the readable content of a page when
          looking at its layout. The point of using Lorem Ipsum is that it has a
          more-or-less normal distribution.
        </p>
        <!-- End Images -->
      </div>
    </section>
    <!-- End Service Details -->

    <!-- Start Feature -->
    <div class="ak-height-100 ak-height-lg-50"></div>
    <section class="container">
      <div class="feature-content gap-2">
        <div class="feature-card">
          <img
            class="feature-icon"
            src="{% static 'assets/img/icon/ok-sign.svg"
            alt="..."
          />
          <div class="feature-body">
            <h5 class="feature-title">Client-Centered Approach</h5>
            <p class="feature-desp">
              A financial advisor service should offer personalized financial
              planning tools that allow visitors.
            </p>
          </div>
        </div>
        <div class="ak-feature-hr ak-h-100"></div>
        <div class="feature-card">
          <img
            class="feature-icon"
            src="{% static 'assets/img/icon/ok-sign.svg"
            alt="..."
          />
          <div class="feature-body">
            <h5 class="feature-title">Client-Centered Approach</h5>
            <p class="feature-desp">
              A financial advisor service should offer personalized financial
              planning tools that allow visitors.
            </p>
          </div>
        </div>
        <div class="ak-feature-hr ak-h-100"></div>
        <div class="feature-card">
          <img
            class="feature-icon"
            src="{% static 'assets/img/icon/ok-sign.svg"
            alt="..."
          />
          <div class="feature-body">
            <h5 class="feature-title">Innovation and Adaptability</h5>
            <p class="feature-desp">
              A financial advisor service should offer personalized financial
              planning tools that allow visitors.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- End Feature -->

    <!-- Start Accordion -->
    <div class="ak-height-50 ak-height-lg-50"></div>
    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 col-12 d-none d-xl-block">
            <div class="image-hov-one">
              <img
                src="{% static 'assets/img/service/service_detail_2.png' %}"
                class="img-fluid"
                alt="..."
              />
            </div>
          </div>
          <div class="col-xl-6 col-12">
            <div class="ak-accordion">
              <div class="ak-accordion-item">
                <div class="ak-accordion-title-content active">
                  <h6 class="ak-accordion-title">
                    What is the difference between finance advisor & financial
                    planner?
                  </h6>
                  <span class="accordion-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="11"
                      viewBox="0 0 16 11"
                      fill="none"
                    >
                      <g clip-path="url(#clip0_347_32rtyr)">
                        <path
                          d="M8.00033 1.10913C7.82983 1.10913 7.65916 1.1743 7.529 1.30446L0.862366 7.9711C0.601868 8.23159 0.601868 8.65342 0.862366 8.91376C1.12286 9.17409 1.5447 9.17426 1.80503 8.91376L8.00033 2.71846L14.1956 8.91376C14.4561 9.17426 14.878 9.17426 15.1383 8.91376C15.3986 8.65326 15.3988 8.23143 15.1383 7.9711L8.47166 1.30446C8.34149 1.1743 8.17083 1.10913 8.00033 1.10913Z"
                          fill="#030917"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_347_32rtyr">
                          <rect
                            width="16"
                            height="10"
                            fill="white"
                            transform="translate(0.000488281 0.109131)"
                          />
                        </clipPath>
                      </defs>
                    </svg>
                  </span>
                </div>
                <div class="ak-accordion-tab">
                  While the terms are often used interchangeably, a finance
                  advisor typically focuses on investment management and
                  financial advice, while a financial planner may offer more
                  comprehensive planning services including budgeting,
                  insurance, estate planning, and tax strategies.
                </div>
              </div>
              <div class="ak-accordion-item">
                <div class="ak-accordion-title-content">
                  <h6 class="ak-accordion-title">
                    How can a finance advisor help with retirement planning?
                  </h6>
                  <span class="accordion-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="11"
                      viewBox="0 0 16 11"
                      fill="none"
                    >
                      <g clip-path="url(#clip0_347_324353)">
                        <path
                          d="M8.00033 1.10913C7.82983 1.10913 7.65916 1.1743 7.529 1.30446L0.862366 7.9711C0.601868 8.23159 0.601868 8.65342 0.862366 8.91376C1.12286 9.17409 1.5447 9.17426 1.80503 8.91376L8.00033 2.71846L14.1956 8.91376C14.4561 9.17426 14.878 9.17426 15.1383 8.91376C15.3986 8.65326 15.3988 8.23143 15.1383 7.9711L8.47166 1.30446C8.34149 1.1743 8.17083 1.10913 8.00033 1.10913Z"
                          fill="#030917"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_347_324353">
                          <rect
                            width="16"
                            height="10"
                            fill="white"
                            transform="translate(0.000488281 0.109131)"
                          />
                        </clipPath>
                      </defs>
                    </svg>
                  </span>
                </div>
                <div class="ak-accordion-tab">
                  While the terms are often used interchangeably, a finance
                  advisor typically focuses on investment management and
                  financial advice, while a financial planner may offer more
                  comprehensive planning services including budgeting,
                  insurance, estate planning, and tax strategies.
                </div>
              </div>
              <div class="ak-accordion-item">
                <div class="ak-accordion-title-content">
                  <h6 class="ak-accordion-title">
                    What types of services do finance advisors offer?
                  </h6>
                  <span class="accordion-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="11"
                      viewBox="0 0 16 11"
                      fill="none"
                    >
                      <g clip-path="url(#clip0_347_32ewrwe)">
                        <path
                          d="M8.00033 1.10913C7.82983 1.10913 7.65916 1.1743 7.529 1.30446L0.862366 7.9711C0.601868 8.23159 0.601868 8.65342 0.862366 8.91376C1.12286 9.17409 1.5447 9.17426 1.80503 8.91376L8.00033 2.71846L14.1956 8.91376C14.4561 9.17426 14.878 9.17426 15.1383 8.91376C15.3986 8.65326 15.3988 8.23143 15.1383 7.9711L8.47166 1.30446C8.34149 1.1743 8.17083 1.10913 8.00033 1.10913Z"
                          fill="#030917"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_347_32ewrwe">
                          <rect
                            width="16"
                            height="10"
                            fill="white"
                            transform="translate(0.000488281 0.109131)"
                          />
                        </clipPath>
                      </defs>
                    </svg>
                  </span>
                </div>
                <div class="ak-accordion-tab">
                  While the terms are often used interchangeably, a finance
                  advisor typically focuses on investment management and
                  financial advice, while a financial planner may offer more
                  comprehensive planning services including budgeting,
                  insurance, estate planning, and tax strategies.
                </div>
              </div>
              <div class="ak-accordion-item">
                <div class="ak-accordion-title-content">
                  <h6 class="ak-accordion-title">
                    What credentials should I look for in a finance advisor?
                  </h6>
                  <span class="accordion-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="11"
                      viewBox="0 0 16 11"
                      fill="none"
                    >
                      <g clip-path="url(#clip0_347_3243fgdg)">
                        <path
                          d="M8.00033 1.10913C7.82983 1.10913 7.65916 1.1743 7.529 1.30446L0.862366 7.9711C0.601868 8.23159 0.601868 8.65342 0.862366 8.91376C1.12286 9.17409 1.5447 9.17426 1.80503 8.91376L8.00033 2.71846L14.1956 8.91376C14.4561 9.17426 14.878 9.17426 15.1383 8.91376C15.3986 8.65326 15.3988 8.23143 15.1383 7.9711L8.47166 1.30446C8.34149 1.1743 8.17083 1.10913 8.00033 1.10913Z"
                          fill="#030917"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_347_3243fgdg">
                          <rect
                            width="16"
                            height="10"
                            fill="white"
                            transform="translate(0.000488281 0.109131)"
                          />
                        </clipPath>
                      </defs>
                    </svg>
                  </span>
                </div>
                <div class="ak-accordion-tab">
                  While the terms are often used interchangeably, a finance
                  advisor typically focuses on investment management and
                  financial advice, while a financial planner may offer more
                  comprehensive planning services including budgeting,
                  insurance, estate planning, and tax strategies.
                </div>
              </div>
              <div class="ak-accordion-item">
                <div class="ak-accordion-title-content">
                  <h6 class="ak-accordion-title">
                    How do I find a reputable finance advisor?
                  </h6>
                  <span class="accordion-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="11"
                      viewBox="0 0 16 11"
                      fill="none"
                    >
                      <g clip-path="url(#clip0_347_32345fds)">
                        <path
                          d="M8.00033 1.10913C7.82983 1.10913 7.65916 1.1743 7.529 1.30446L0.862366 7.9711C0.601868 8.23159 0.601868 8.65342 0.862366 8.91376C1.12286 9.17409 1.5447 9.17426 1.80503 8.91376L8.00033 2.71846L14.1956 8.91376C14.4561 9.17426 14.878 9.17426 15.1383 8.91376C15.3986 8.65326 15.3988 8.23143 15.1383 7.9711L8.47166 1.30446C8.34149 1.1743 8.17083 1.10913 8.00033 1.10913Z"
                          fill="#030917"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_347_32345fds">
                          <rect
                            width="16"
                            height="10"
                            fill="white"
                            transform="translate(0.000488281 0.109131)"
                          />
                        </clipPath>
                      </defs>
                    </svg>
                  </span>
                </div>
                <div class="ak-accordion-tab">
                  While the terms are often used interchangeably, a finance
                  advisor typically focuses on investment management and
                  financial advice, while a financial planner may offer more
                  comprehensive planning services including budgeting,
                  insurance, estate planning, and tax strategies.
                </div>
              </div>
              <div class="ak-accordion-item">
                <div class="ak-accordion-title-content">
                  <h6 class="ak-accordion-title">
                    How can a finance advisor help with retirement planning?
                  </h6>
                  <span class="accordion-icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="11"
                      viewBox="0 0 16 11"
                      fill="none"
                    >
                      <g clip-path="url(#clip0_347_3243gfd)">
                        <path
                          d="M8.00033 1.10913C7.82983 1.10913 7.65916 1.1743 7.529 1.30446L0.862366 7.9711C0.601868 8.23159 0.601868 8.65342 0.862366 8.91376C1.12286 9.17409 1.5447 9.17426 1.80503 8.91376L8.00033 2.71846L14.1956 8.91376C14.4561 9.17426 14.878 9.17426 15.1383 8.91376C15.3986 8.65326 15.3988 8.23143 15.1383 7.9711L8.47166 1.30446C8.34149 1.1743 8.17083 1.10913 8.00033 1.10913Z"
                          fill="#030917"
                        />
                      </g>
                      <defs>
                        <clipPath id="clip0_347_3243gfd">
                          <rect
                            width="16"
                            height="10"
                            fill="white"
                            transform="translate(0.000488281 0.109131)"
                          />
                        </clipPath>
                      </defs>
                    </svg>
                  </span>
                </div>
                <div class="ak-accordion-tab">
                  While the terms are often used interchangeably, a finance
                  advisor typically focuses on investment management and
                  financial advice, while a financial planner may offer more
                  comprehensive planning services including budgeting,
                  insurance, estate planning, and tax strategies.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ak-height-75 ak-height-lg-50"></div>
        <div class="d-flex">
          <p
            class="ak-font-50 ak-medium ak-black-color ak-line-height-100 me-2"
          >
            F
          </p>
          <p class="">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content
            here', making it look like readable English. It is a long
            established fact that a reader will be distracted by the readable
            content of a page when looking at its layout. The point of using
            Lorem Ipsum is that it has.
          </p>
        </div>
        <div class="ak-height-20 ak-height-lg-20"></div>
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed to using 'Content here, content here', making it
          look like readable English. It is a long established fact that a
          reader will be distracted by the readable content of a page when
          looking at its layout. The point of using Lorem Ipsum is that it has a
          more-or-less normal distribution.
        </p>

        <div class="ak-height-50 ak-height-lg-30"></div>
        <div class="image-hov-one">
          <img
            src="{% static 'assets/img/service/service_detail_3.png' %}"
            class="img-fluid"
            alt="..."
          />
        </div>
        <div class="ak-height-50 ak-height-lg-30"></div>
        <!-- Start Previous and next btn -->
        <div
          class="d-flex flex-lg-nowrap flex-wrap justify-content-between align-items-center gap-lg-5 gap-2"
        >
          <a href="#" class="more-btn arrow-left-style">
            <span class="svg-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="15"
                viewBox="0 0 14 15"
                fill="none"
              >
                <path
                  d="M12.5869 7.14932H0.920246M0.920246 7.14932L6.52025 1.54932M0.920246 7.14932L6.52025 12.7493"
                  stroke="#030917"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="15"
                viewBox="0 0 14 15"
                fill="none"
              >
                <path
                  d="M12.5869 7.14932H0.920246M0.920246 7.14932L6.52025 1.54932M0.920246 7.14932L6.52025 12.7493"
                  stroke="#030917"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
            <span class="ak-body-color ak-black-color-hover"
              >Previous Case Study</span
            >
          </a>
          <span class="ak-border-width color-black d-none d-lg-inline"></span>
          <a href="#" class="more-btn">
            <span class="ak-body-color ak-black-color-hover"
              >Next Case Study</span
            >
            <span class="svg-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="15"
                viewBox="0 0 14 15"
                fill="none"
              >
                <path
                  d="M1.41309 7.14932H13.0798M13.0798 7.14932L7.47975 1.54932M13.0798 7.14932L7.47975 12.7493"
                  stroke="#030917"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="15"
                viewBox="0 0 14 15"
                fill="none"
              >
                <path
                  d="M1.41309 7.14932H13.0798M13.0798 7.14932L7.47975 1.54932M13.0798 7.14932L7.47975 12.7493"
                  stroke="#030917"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </a>
        </div>
        <!-- End Previous and next btn -->
      </div>
    </section>
    <!-- End Accordion -->

    <!-- Start Team -->
    <div class="ak-height-125 ak-height-lg-80"></div>
    <section>
      <div class="container">
        <div class="ak-section-heading-content">
          <div
            class="ak-section-heading ak-style-1 animation-title-content animation-style3 ak-w-60"
          >
            <p class="ak-section-subtitle animation-title">Case Study</p>
            <h2 class="ak-section-title animation-title">
              Client Success Stories Financial Advisory Case Studies
            </h2>
          </div>
          <div class="service-swiper-controller">
            <button class="service-next-btn slider-btn next">
              <svg
                width="10"
                height="18"
                viewBox="0 0 10 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9.00928 0.73999L1.00928 8.73999L9.00928 16.74"
                  stroke="#030917"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
            <button class="service-prev-btn slider-btn prev">
              <svg
                width="10"
                height="18"
                viewBox="0 0 10 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1.00928 0.73999L9.00928 8.73999L1.00928 16.74"
                  stroke="#030917"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
        </div>
        <div class="ak-height-60 ak-height-lg-50"></div>
        <div class="ak-slider ak-team-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a
                href="case-study-details.html"
                class="team-card style-two h-100"
              >
                <div class="team-thamnel">
                  <img src="{% static 'assets/img/caseStudy/case-study-5.png' %}" alt="..." />
                  <div class="img-overlay"></div>
                  <div class="team-card-btn">
                    <span class="btn-text">View More</span>
                    <span class="icon-arrow">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="13"
                        height="12"
                        viewBox="0 0 13 12"
                        fill="none"
                      >
                        <path
                          d="M1.0874 9.49938L11.9127 3.24938M11.9127 3.24938L3.71657 1.05322M11.9127 3.24938L9.71657 11.4455"
                          stroke="#030917"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </div>
                </div>
                <div class="team-body">
                  <div class="team-info">
                    <h5 class="title">Sustainable Finance Strategies</h5>
                    <p class="short-title">
                      This service involves creating customized financial plans
                      tailored to the individual needs.
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a
                href="case-study-details.html"
                class="team-card style-two h-100"
              >
                <div class="team-thamnel">
                  <img src="{% static 'assets/img/caseStudy/case-study-6.png' %}" alt="..." />
                  <div class="img-overlay"></div>
                  <div class="team-card-btn">
                    <span class="btn-text">View More</span>
                    <span class="icon-arrow">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="13"
                        height="12"
                        viewBox="0 0 13 12"
                        fill="none"
                      >
                        <path
                          d="M1.0874 9.49938L11.9127 3.24938M11.9127 3.24938L3.71657 1.05322M11.9127 3.24938L9.71657 11.4455"
                          stroke="#030917"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </div>
                </div>
                <div class="team-body">
                  <div class="team-info">
                    <h5 class="title">Financial Wellness Lessons</h5>
                    <p class="short-title">
                      This service involves creating customized financial plans
                      tailored to the individual needs.
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a
                href="case-study-details.html"
                class="team-card style-two h-100"
              >
                <div class="team-thamnel">
                  <img src="{% static 'assets/img/caseStudy/case-study-3.png' %}" alt="..." />
                  <div class="img-overlay"></div>
                  <div class="team-card-btn">
                    <span class="btn-text">View More</span>
                    <span class="icon-arrow">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="13"
                        height="12"
                        viewBox="0 0 13 12"
                        fill="none"
                      >
                        <path
                          d="M1.0874 9.49938L11.9127 3.24938M11.9127 3.24938L3.71657 1.05322M11.9127 3.24938L9.71657 11.4455"
                          stroke="#030917"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </div>
                </div>
                <div class="team-body">
                  <div class="team-info">
                    <h5 class="title">Retirement Advisor Insights</h5>
                    <p class="short-title">
                      This service involves creating customized financial plans
                      tailored to the individual needs.
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Team -->

    <!-- Start Cta -->
    <div class="ak-height-125 ak-height-lg-80"></div>
    <section>
      <div class="cta-container">
        <div class="ak-height-125 ak-height-lg-80"></div>
        <img src="{% static 'assets/img/bg/cta-bg.png' %}" class="footer-bg-img" alt="...." />
        <div class="container">
          <div class="cta-info">
            <h2 class="cta-title">
              Secure Your Financial Future Today
              <span class="cta-title ak-bold"
                >Schedule a Free Consultation!</span
              >
            </h2>
            <p class="cta-desp">
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout.
            </p>
            <a href="contact.html" class="common-btn">
              <span> Contact Us</span>
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="15"
                  height="15"
                  viewBox="0 0 15 15"
                  fill="none"
                >
                  <g clip-path="url(#clip0_201_97823245676)">
                    <path
                      d="M1.42236 6.99728H13.089M13.089 6.99728L7.48903 1.39728M13.089 6.99728L7.48903 12.5973"
                      stroke="#030917"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_201_97823245676">
                      <rect
                        width="14"
                        height="14"
                        fill="white"
                        transform="translate(0.00927734)"
                      />
                    </clipPath>
                  </defs>
                </svg>
              </span>
            </a>
          </div>
        </div>
        <div class="ak-height-125 ak-height-lg-80"></div>
      </div>
    </section>
    <!-- End Cta -->

    <!-- Start Footer -->
    {% include 'include/footer.html' %}
    <!-- End Footer -->

    <span class="ak-scrollup">
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0 10L1.7625 11.7625L8.75 4.7875V20H11.25V4.7875L18.225 11.775L20 10L10 0L0 10Z"
          fill="currentColor"
        />
      </svg>
    </span>
    <!-- Start Video Popup -->
    <div class="ak-video-popup">
      <div class="ak-video-popup-overlay"></div>
      <div class="ak-video-popup-content">
        <div class="ak-video-popup-layer"></div>
        <div class="ak-video-popup-container">
          <div class="ak-video-popup-align">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="about:blank"></iframe>
            </div>
          </div>
          <div class="ak-video-popup-close"></div>
        </div>
      </div>
    </div>
    <!-- End Video Popup -->
{% endblock %}
