<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="image/logo.png">
    <title>Probiz - Services</title>
</head>

<body>
    <!-- Scripts -->
    <script src="js/vendor/jquery.min.js"></script>

    <!-- Header -->
    <div class="bg-accent-color py-3">
        <div class="r-container">
            <div
                class="d-flex flex-xl-row flex-column justify-content-center justify-content-xl-between align-items-center font-2">
                <div
                    class="d-flex flex-xl-row flex-column flex-wrap align-items-center justify-content-center justify-content-xl-start text-white mb-3 mb-xl-0 gap-xl-5 gap-2">
                    <span class="d-flex flex-row align-items-center gap-2">
                        <i class="fa-solid fa-envelope text-white"></i>
                        hello@domainsite.com
                    </span>
                    <span class="d-flex flex-row align-items-center gap-2">
                        <i class="fa-solid fa-phone text-white"></i>
                        0761-8523-398
                    </span>
                    <span class="d-flex flex-row align-items-center gap-2">
                        <i class="fa-solid fa-location-dot text-white"></i>
                        KLLG St, No.99, Pku City, ID 28289
                    </span>
                </div>
                <div class="social-container mb-xl-0 mb-3">
                    <a href="https://www.facebook.com" class="social-item">
                        <i class="fa-brands fa-xs fa-facebook-f"></i>
                    </a>
                    <a href="https://www.twitter.com" class="social-item">
                        <i class="fa-brands fa-xs fa-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com" class="social-item">
                        <i class="fa-brands fa-xs fa-instagram"></i>
                    </a>
                    <a href="https://www.youtube.com" class="social-item">
                        <i class="fa-brands fa-xs fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <header class="sticky-top bg-accent-primary">
        <div class="r-container">
            <nav class="navbar navbar-expand-xl">
                <div class="container-fluid ps-3">
                    <div class="logo-container">
                        <a class="navbar-brand" href="https://prositus.rometheme.pro/html/"><img src="image/logo.png" alt="" class="img-fluid"></a>
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa-solid fa-bars-staggered accent-color-2"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto mb-2 mb-xl-0 gap-xl-4 gap-1">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="index.html">Homepage</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    About Us
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="about.html">About Us</a></li>
                                    <li><a class="dropdown-item" href="team.html">Team</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link active dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Services
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item active" href="services.html">Services</a></li>
                                    <li><a class="dropdown-item" href="service_detail.html">Service Details</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Pages
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="price_plan.html">Pricing Plan</a></li>
                                    <li><a class="dropdown-item" href="faq.html">FAQs</a></li>
                                    <li><a class="dropdown-item" href="404.html">404 Error</a></li>
                                    <li><a class="dropdown-item" href="blog.html">Last Article</a></li>
                                    <li><a class="dropdown-item" href="single_blog.html">Single Post</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact Us</a>
                            </li>
                        </ul>
                        <div class="mb-xl-0 mb-3">
                            <a href="contact.html" class="btn btn-accent rounded-pill d-flex flex-row gap-2 px-4 py-2">
                                <span>Consult Now</span>
                                <i class="rtmicon rtmicon-arrow-up-right fs-6 fw-semibold"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- End Header -->

    <!-- Main -->
    <main>
        <!-- Banner -->
        <div class="section position-relative"
            style="background-image: url(image/image-1920x1280-13.jpg); height: 70vh;">
            <div class="bg-overlay"></div>
            <div class="r-container h-100 position-relative" style="z-index: 2;">
                <div class="d-flex flex-column w-100 h-100 justify-content-center text-white gap-3"
                    style="max-width: 895px;">
                    <h1 class="font-1 m-0 text-white fw-semibold">Services</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Services</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Section Services -->
        <div class="section">
            <div class="r-container">
                <div class="d-flex flex-column gap-4 align-items-center">
                    <div class="d-flex flex-column gap-3 text-center align-items-center" style="max-width: 667px;">
                        <div class="linear-gradient">
                            <span class="font-2 accent-color-3">Services</span>
                        </div>
                        <h3>See What Your Business Needs</h3>
                        <p class="text-color-2">We are specialize in transforming businesses and fostering growth
                            through strategic insights and unparalleled expertise.</p>
                    </div>
                    <div class="row row-cols-xl-3 row-cols-1">
                        <div class="col mb-3">
                            <div class="card card-service img-hover h-100 shadow"
                                style="--url-image:url(../image/BGOverlay.png)">
                                <div class=" d-flex flex-column gap-3 justify-content-between align-items-center text-center p-5 position-relative"
                                    style="z-index: 2;">
                                    <div class="icon-box">
                                        <i class="rtmicon rtmicon-profit accent-color" style="font-size: 60px;"></i>
                                    </div>
                                    <h4>Financial Analysis</h4>
                                    <p>Conduct financial health checks and profitability analysis. Develop financial
                                        forecasting models and budgeting strategies.</p>
                                    <a href="single_blog.html" class="read-more">
                                        <div class="d-flex flex-row gap-3 align-items-center">
                                            <span class="fw-semibold">Learn More</span>
                                            <i class="rtmicon rtmicon-arrow-up-right fs-6 fw-bold"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="card card-service img-hover h-100 shadow"
                                style="--url-image:url(../image/BGOverlay.png)">
                                <div class=" d-flex flex-column gap-3 justify-content-between align-items-center text-center p-5 position-relative"
                                    style="z-index: 2;">
                                    <div class="icon-box">
                                        <i class="rtmicon rtmicon-global-economy accent-color"
                                            style="font-size: 60px;"></i>
                                    </div>
                                    <h4>Strategic Planning</h4>
                                    <p>Develop long-term and short-term strategies aligned with business goals. Conduct
                                        SWOT analysis and market research.</p>
                                    <a href="service_detail.html" class="read-more">
                                        <div class="d-flex flex-row gap-3 align-items-center">
                                            <span class="fw-semibold">Learn More</span>
                                            <i class="rtmicon rtmicon-arrow-up-right fs-6 fw-bold"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="card card-service img-hover h-100 shadow"
                                style="--url-image:url(../image/BGOverlay.png)">
                                <div class=" d-flex flex-column gap-3 justify-content-between align-items-center text-center p-5 position-relative"
                                    style="z-index: 2;">
                                    <div class="icon-box">
                                        <i class="rtmicon rtmicon-budget-planning accent-color"
                                            style="font-size: 60px;"></i>
                                    </div>
                                    <h4>Market Research</h4>
                                    <p>Perform market segmentation and competitive analysis. Identify emerging trends
                                        and customer preferences.</p>
                                    <a href="service_detail.html" class="read-more">
                                        <div class="d-flex flex-row gap-3 align-items-center">
                                            <span class="fw-semibold">Learn More</span>
                                            <i class="rtmicon rtmicon-arrow-up-right fs-6 fw-bold"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-xl-3 row-cols-1">
                        <div class="col mb-3">
                            <div class="card card-service img-hover h-100 shadow"
                                style="--url-image:url(../image/BGOverlay.png)">
                                <div class=" d-flex flex-column gap-3 justify-content-between align-items-center text-center p-5 position-relative"
                                    style="z-index: 2;">
                                    <div class="icon-box">
                                        <i class="rtmicon rtmicon-users accent-color" style="font-size: 60px;"></i>
                                    </div>
                                    <h4>Organizational Development</h4>
                                    <p>Design organizational structures and job roles. Implement change management
                                        strategies and leadership development programs.</p>
                                    <a href="single_blog.html" class="read-more">
                                        <div class="d-flex flex-row gap-3 align-items-center">
                                            <span class="fw-semibold">Learn More</span>
                                            <i class="rtmicon rtmicon-arrow-up-right fs-6 fw-bold"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="card card-service img-hover h-100 shadow"
                                style="--url-image:url(../image/BGOverlay.png)">
                                <div class=" d-flex flex-column gap-3 justify-content-between align-items-center text-center p-5 position-relative"
                                    style="z-index: 2;">
                                    <div class="icon-box">
                                        <i class="rtmicon rtmicon-graphic-chart accent-color"
                                            style="font-size: 60px;"></i>
                                    </div>
                                    <h4>Branding Strategy</h4>
                                    <p>Create marketing plans and brand positioning strategies. Develop digital
                                        marketing campaigns and social media strategies.</p>
                                    <a href="service_detail.html" class="read-more">
                                        <div class="d-flex flex-row gap-3 align-items-center">
                                            <span class="fw-semibold">Learn More</span>
                                            <i class="rtmicon rtmicon-arrow-up-right fs-6 fw-bold"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="card card-service img-hover h-100 shadow"
                                style="--url-image:url(../image/BGOverlay.png)">
                                <div class=" d-flex flex-column gap-3 justify-content-between align-items-center text-center p-5 position-relative"
                                    style="z-index: 2;">
                                    <div class="icon-box">
                                        <i class="rtmicon rtmicon-city accent-color"
                                            style="font-size: 60px;"></i>
                                    </div>
                                    <h4>Sustainability and CSR</h4>
                                    <p>Embracing sustainability ensures businesses operate responsibly, reducing their
                                        environmental footprint and contributing to social causes.</p>
                                    <a href="service_detail.html" class="read-more">
                                        <div class="d-flex flex-row gap-3 align-items-center">
                                            <span class="fw-semibold">Learn More</span>
                                            <i class="rtmicon rtmicon-arrow-up-right fs-6 fw-bold"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section Counter -->
        <div class="section bg-accent-color">
            <div class="r-container">
                <div class="row row-cols-xl-4 row-cols-1 text-center">
                    <div class="col mb-3">
                        <h1 class="text-white">15<sup>+</sup></h1>
                        <h5 class="text-white">Years Experience</h5>
                    </div>
                    <div class="col mb-3">
                        <h1 class="text-white">2k</h1>
                        <h5 class="text-white">Happy Customers</h5>
                    </div>
                    <div class="col mb-3">
                        <h1 class="text-white">250<sup>+</sup></h1>
                        <h5 class="text-white">Expert Consultant</h5>
                    </div>
                    <div class="col mb-3">
                        <h1 class="text-white">90<sup>%</sup></h1>
                        <h5 class="text-white">Problem Solved</h5>
                    </div>
                </div>
            </div>
        </div>

        <!-- Team -->
        <div class="section">
            <div class="r-container">
                <div class="row row-cols-xl-3 row-cols-1 pb-3">
                    <div class="col mb-3">
                        <div class="d-flex flex-column gap-4 mx-auto" style="max-width: 867px;">
                            <div class="linear-gradient">
                                <span class="font-2 accent-color-3">Expert Team</span>
                            </div>

                            <h3 class="fw-semibold">Let’s Talk With Our Consultants</h3>
                            <p class="text-color-2">We are specialize in transforming businesses and fostering growth
                                through strategic
                                insights and unparalleled expertise.
                            </p>
                            <div class="w-max-content">
                                <a href="team.html" class="btn btn-accent rounded-pill d-flex flex-row gap-2 px-5 py-3">
                                    <span>See All</span>
                                    <i class="rtmicon rtmicon-arrow-up-right fs-6 fw-semibold"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="position-relative mb-5">
                            <img src="image/image-900x900-5.jpg" alt="image" class="img-fluid rounded-3 w-100">
                            <div class="position-absolute w-75" style="margin-top: -5rem; margin-left: 12%;">
                                <div
                                    class="bg-accent-color d-flex flex-column text-white p-4 align-items-center text-center rounded-3">
                                    <div class="mb-2">
                                        <h4>Courtney Henry</h4>
                                        <span class="font-2">Senior Advisor</span>
                                    </div>
                                    <div class="social-container team gap-2">
                                        <a href="https://www.facebook.com" class="social-item">
                                            <i class="fa-brands fa-xs fa-facebook-f"></i>
                                        </a>
                                        <a href="https://www.twitter.com" class="social-item">
                                            <i class="fa-brands fa-xs fa-twitter"></i>
                                        </a>
                                        <a href="https://www.instagram.com" class="social-item">
                                            <i class="fa-brands fa-xs fa-instagram"></i>
                                        </a>
                                        <a href="https://www.youtube.com" class="social-item">
                                            <i class="fa-brands fa-xs fa-youtube"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="position-relative mb-5">
                            <img src="image/image-900x900-11.jpg" alt="image" class="img-fluid rounded-3 w-100">
                            <div class="position-absolute w-75" style="margin-top: -5rem; margin-left: 12%;">
                                <div
                                    class="bg-accent-color d-flex flex-column text-white p-4 align-items-center text-center rounded-3">
                                    <div class="mb-2">
                                        <h4>Catlyn Murphy</h4>
                                        <span class="font-2">Junior Advisor</span>
                                    </div>
                                    <div class="social-container team gap-2">
                                        <a href="https://www.facebook.com" class="social-item">
                                            <i class="fa-brands fa-xs fa-facebook-f"></i>
                                        </a>
                                        <a href="https://www.twitter.com" class="social-item">
                                            <i class="fa-brands fa-xs fa-twitter"></i>
                                        </a>
                                        <a href="https://www.instagram.com" class="social-item">
                                            <i class="fa-brands fa-xs fa-instagram"></i>
                                        </a>
                                        <a href="https://www.youtube.com" class="social-item">
                                            <i class="fa-brands fa-xs fa-youtube"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section CTA -->
        <div class="section position-relative bg-attach-fixed"
            style="background-image: url(image/image-1920x1280-4.jpg);">
            <div class="bg-overlay"></div>
            <div class="r-container position-relative py-5" style="z-index: 2;">
                <div class="d-flex flex-column mx-auto text-center align-items-center text-white gap-4"
                    style="max-width: 767px;">
                    <h3 class="font-1 text-white">Optimize Operations for Maximum Efficiency</h3>
                    <p style="max-width: 667px;">
                        Drive innovation and lead your market segment. Contact us to explore how our consulting can
                        position your business as a frontrunner.
                    </p>
                    <div class="w-max-content">
                        <a href="contact.html" class="btn btn-accent rounded-pill d-flex flex-row gap-2 px-5 py-3">
                            <span>Get In Touch</span>
                            <i class="rtmicon rtmicon-arrow-up-right fs-6 fw-semibold"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Testimonials -->
        <div class="section">
            <div class="r-container d-flex flex-column gap-4">
                <div class="d-flex flex-column gap-3 text-center mx-auto align-items-center" style="max-width: 567px;">
                    <div class="linear-gradient">
                        <span class="font-2 accent-color-3">Testimonials</span>
                    </div>
                    <h3 class="fw-semibold">Success Business Stories That Inspire</h3>
                    <p class="text-color-2">We are specialize in transforming businesses and fostering growth through
                        strategic insights and unparalleled expertise.</p>
                </div>
                <div class="overflow-hidden">
                    <div class="swiper swiperTestimonials">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div
                                    class="testimonial-container px-5 py-5 border border-1 border-accent-color rounded-3 justify-content-between">
                                    <div class="d-flex flex-column gap-3">
                                        <div class="d-flex flex-row align-items-center gap-3">
                                            <div class="testimonial-item">
                                                <img src="image/image-600x600-21.jpg" class="img-fluid border-light"
                                                    alt="">
                                            </div>
                                            <div class="d-flex flex-column">
                                                <h5>John Thunder</h5>
                                                <span class="font-2">Designation</span>
                                                <div class="flex-row">
                                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                                    <i class="fa-solid fa-star" style="color: var(--text-color-1);"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="font-2 fst-italic text-color-2">"I am incredibly grateful for the
                                            support and
                                            expertise provided by ABC Consulting. As a new entrepreneur, their guidance
                                            was invaluable in defining our market strategy and refining our business
                                            model. Their consultants were not only knowledgeable but also
                                            approachable”</span>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div
                                    class="testimonial-container px-5 py-5 border border-1 border-accent-color rounded-3 justify-content-between">
                                    <div class="d-flex flex-column gap-3">
                                        <div class="d-flex flex-row align-items-center gap-3">
                                            <div class="testimonial-item">
                                                <img src="image/image-600x600-22.jpg" class="img-fluid border-light"
                                                    alt="">
                                            </div>
                                            <div class="d-flex flex-column">
                                                <h5>Sarah Laura</h5>
                                                <span class="font-2">Designation</span>
                                                <div class="flex-row">
                                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                                    <i class="fa-solid fa-star" style="color: var(--text-color-1);"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="font-2 fst-italic text-color-2">"I am incredibly grateful for the
                                            support and
                                            expertise provided by ABC Consulting. As a new entrepreneur, their guidance
                                            was invaluable in defining our market strategy and refining our business
                                            model. Their consultants were not only knowledgeable but also
                                            approachable”</span>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div
                                    class="testimonial-container px-5 py-5 border border-1 border-accent-color rounded-3 justify-content-between">
                                    <div class="d-flex flex-column gap-3">
                                        <div class="d-flex flex-row align-items-center gap-3">
                                            <div class="testimonial-item">
                                                <img src="image/image-600x600-23.jpg" class="img-fluid border-light"
                                                    alt="">
                                            </div>
                                            <div class="d-flex flex-column">
                                                <h5>Michael Praz</h5>
                                                <span class="font-2">Designation</span>
                                                <div class="flex-row">
                                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                                    <i class="fa-solid fa-star" style="color: var(--text-color-1);"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="font-2 fst-italic text-color-2">"I am incredibly grateful for the
                                            support and
                                            expertise provided by ABC Consulting. As a new entrepreneur, their guidance
                                            was invaluable in defining our market strategy and refining our business
                                            model. Their consultants were not only knowledgeable but also
                                            approachable”</span>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div
                                    class="testimonial-container px-5 py-5 border border-1 border-accent-color rounded-3 justify-content-between">
                                    <div class="d-flex flex-column gap-3">
                                        <div class="d-flex flex-row align-items-center gap-3">
                                            <div class="testimonial-item">
                                                <img src="image/image-600x600-21.jpg" class="img-fluid border-light"
                                                    alt="">
                                            </div>
                                            <div class="d-flex flex-column">
                                                <h5>Brian Abraham</h5>
                                                <span class="font-2">Designation</span>
                                                <div class="flex-row">
                                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                                    <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                                    <i class="fa-solid fa-star" style="color: var(--text-color-1);"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="font-2 fst-italic text-color-2">"I am incredibly grateful for the
                                            support and
                                            expertise provided by ABC Consulting. As a new entrepreneur, their guidance
                                            was invaluable in defining our market strategy and refining our business
                                            model. Their consultants were not only knowledgeable but also
                                            approachable”</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <div class="section pb-0 position-relative" style="background-image: url(image/image-1920x1280-3.jpg);">
            <div class="image-overlay"></div>
            <div class="r-container position-relative" style="z-index: 2;">
                <div class="d-flex flex-column gap-4">
                    <div class="d-flex flex-column align-items-center justify-content-center mx-auto gap-3 text-center">
                        <img src="image/logo.png" alt="" class="img-fluid" width="350">
                        <p style="max-width: 667px;">
                            We are specialize in transforming businesses and fostering growth through strategic insights
                            and unparalleled expertise.
                        </p>
                        <div class="d-flex flex-column gap-3 w-100">
                            <div class="d-flex flex-column gap-3">
                                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                                    <div id="liveToast"
                                        class="toast success_msg_subscribe bg-dark-transparent text-white" role="alert"
                                        aria-live="assertive" aria-atomic="true">
                                        <div class="d-flex">
                                            <div class="toast-body">
                                                Your Subscribe Send Successfully!.
                                            </div>
                                            <button type="button" class="btn me-2 m-auto text-white"
                                                data-bs-dismiss="toast" aria-label="Close">
                                                <i class="fa-solid fa-xmark"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <form
                                        class="d-flex flex-column h-100 justify-content-center w-100 needs-validation form"
                                        novalidate>
                                        <input type="text" name="action" value="subscribe" hidden>
                                        <div class="input-group mb-xl-2 mb-0 position-relative">
                                            <input type="email"
                                                class="form-control rounded-start-pill rounded-end-0 mb-xl-0 mb-3"
                                                placeholder="Your Email" name="email" required>
                                            <button
                                                class="btn btn-accent submit_subscribe rounded-pill rounded-start-0 position-relative px-4 py-3"
                                                style="z-index: 2;" type="submit">Subscribe</button>
                                            <div class="invalid-feedback text-white">
                                                Please provide a valid email format (e.g.,
                                                user@example.com).
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div>
                        <div class="pb-xl-5 pb-0">
                            <div class="row row-cols-xl-3 row-cols-1">
                                <div class="col col-xl-5 mb-5">
                                    <div class="d-flex flex-column gap-3">
                                        <div class="mb-2 w-max-content">
                                            <h4 class="font-1">Quick Links</h4>
                                        </div>
                                        <div class="row row-cols-xl-2 row-cols-1">
                                            <div class="col">
                                                <div class="d-flex flex-column gap-3">
                                                    <ul class="list gap-2">
                                                        <li>
                                                            <a href="index.html"
                                                                class="link d-flex flex-row gap-3 align-items-center">
                                                                Home
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="about.html"
                                                                class="link d-flex flex-row gap-3 align-items-center">
                                                                About Us
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="services.html"
                                                                class="link d-flex flex-row gap-3 align-items-center">
                                                                Services
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="price_plan.html"
                                                                class="link d-flex flex-row gap-3 align-items-center">
                                                                Pricing Plan
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="faq.html"
                                                                class="link d-flex flex-row gap-3 align-items-center">
                                                                FAQs
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="d-flex flex-column gap-3">
                                                    <ul class="list gap-2">
                                                        <li>
                                                            <a href="contact.html"
                                                                class="link d-flex flex-row gap-3 align-items-center">
                                                                Contact Us
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                class="link d-flex flex-row gap-3 align-items-center">
                                                                Privacy & Policy
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-xl-7 mb-3">
                                    <div class="row row-cols-xl-2 row-cols-1">
                                        <div class="col">
                                            <div class="d-flex flex-column gap-3">
                                                <div class="mb-2 w-max-content">
                                                    <h4 class="font-1">Services</h4>
                                                </div>
                                                <ul class="list gap-2">
                                                    <li>
                                                        <a href=""
                                                            class="link d-flex flex-row gap-3 align-items-center">
                                                            Financial Analysis
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href=""
                                                            class="link d-flex flex-row gap-3 align-items-center">
                                                            Strategic Planning
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href=""
                                                            class="link d-flex flex-row gap-3 align-items-center">
                                                            Market Research
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href=""
                                                            class="link d-flex flex-row gap-3 align-items-center">
                                                            Organizational Development
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href=""
                                                            class="link d-flex flex-row gap-3 align-items-center">
                                                            Branding Strategy
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href=""
                                                            class="link d-flex flex-row gap-3 align-items-center">
                                                            Sustainability and CSR
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col mb-3">
                                            <div class="d-flex flex-column gap-3">
                                                <div class="pb-2 w-max-content pe-3">
                                                    <h4 class="font-1">Contact Us</h4>
                                                </div>
                                                <ul class="list gap-3">
                                                    <li>
                                                        <div class="d-flex flex-row align-items-center gap-3">
                                                            <div class="contact-item">
                                                                <i class="rtmicon rtmicon-classic-phone fw-bold"></i>
                                                            </div>
                                                            <div class="d-flex flex-column">
                                                                <h5>Phone</h5>
                                                                <span>0761-8523-398</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="d-flex flex-row align-items-center gap-3">
                                                            <div class="contact-item">
                                                                <i class="rtmicon rtmicon-location fw-bold"></i>
                                                            </div>
                                                            <div class="d-flex flex-column">
                                                                <h5>Location</h5>
                                                                <span>KLLG st, No.99, Pku City, ID 28289</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="d-flex flex-row align-items-center gap-3">
                                                            <div class="contact-item">
                                                                <i class="rtmicon rtmicon-envelope fw-bold"></i>
                                                            </div>
                                                            <div class="d-flex flex-column">
                                                                <h5>Email</h5>
                                                                <span>hello@domainsite.com</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="accent-color">
                        <div
                            class="d-flex flex-xl-row flex-column gap-3 justify-content-between align-items-center py-3">
                            <span class="text-xl-center text-color text-start fs-6 font-2">
                                Copyright © 2024 Rometheme. All Rights Reserved.
                            </span>
                            <div class="social-container team mb-xl-0 mb-3 gap-2">
                                <a href="https://www.facebook.com" class="social-item-2">
                                    <i class="fa-brands fa-xs fa-facebook-f"></i>
                                </a>
                                <a href="https://www.twitter.com" class="social-item-2">
                                    <i class="fa-brands fa-xs fa-twitter"></i>
                                </a>
                                <a href="https://www.instagram.com" class="social-item-2">
                                    <i class="fa-brands fa-xs fa-instagram"></i>
                                </a>
                                <a href="https://www.youtube.com" class="social-item-2">
                                    <i class="fa-brands fa-xs fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/vendor/bootstrap.bundle.min.js"></script>
    <script src="js/vendor/swiper-bundle.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/swiper-script.js"></script>
    <script src="js/submit-form.js"></script>
    <script src="js/vendor/isotope.pkgd.min.js"></script>
    <script src="js/video_embedded.js"></script>
    <script src="js/vendor/fslightbox.js"></script>
</body>

</html>