{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- Start Header Section -->
    {% include 'include/header.html' %}
    <!-- End Header Section -->

    <!-- Start Hero -->
    <section class="common-page-hero">
      <img
        src="{% static 'assets/img/bg/common-bg.png' %}"
        class="common-hero-bg ak-bg"
        alt="..."
      />
      <div class="common-hero-content">
        <div class="common-hero-info">
          <div
            class="ak-section-heading ak-style-1 animation-title-content animation-style3"
          >
            <p class="ak-section-subtitle animation-title">Case Study</p>
            <h2 class="ak-section-title animation-title">
              Client Success Stories Financial Studies
            </h2>
          </div>
          <p class="back-btn"><a href="/">Home</a> / Case Study</p>
        </div>
        <a href="" class="phone-number">(406) 555-0120</a>
      </div>
    </section>
    <!-- End Hero -->

    <!-- Start All Services-->
    <div class="ak-height-60 ak-height-lg-50"></div>
    <section>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          <div class="col">
            <a href="case-study-details.html" class="team-card style-two h-100">
              <div class="team-thamnel">
                <img src="{% static 'assets/img/caseStudy/case-study-1.png' %}" alt="..." />
                <div class="img-overlay"></div>
                <div class="team-card-btn">
                  <span class="btn-text">View More</span>
                  <span class="icon-arrow">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="13"
                      height="12"
                      viewBox="0 0 13 12"
                      fill="none"
                    >
                      <path
                        d="M1.0874 9.49938L11.9127 3.24938M11.9127 3.24938L3.71657 1.05322M11.9127 3.24938L9.71657 11.4455"
                        stroke="#030917"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                </div>
              </div>
              <div class="team-body">
                <div class="team-info">
                  <h5 class="title">Investment Management</h5>
                  <p class="short-title">
                    This service involves creating customized financial plans
                    tailored to the individual needs.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="case-study-details.html" class="team-card style-two h-100">
              <div class="team-thamnel">
                <img src="{% static 'assets/img/caseStudy/case-study-2.png' %}" alt="..." />
                <div class="img-overlay"></div>
                <div class="team-card-btn">
                  <span class="btn-text">View More</span>
                  <span class="icon-arrow">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="13"
                      height="12"
                      viewBox="0 0 13 12"
                      fill="none"
                    >
                      <path
                        d="M1.0874 9.49938L11.9127 3.24938M11.9127 3.24938L3.71657 1.05322M11.9127 3.24938L9.71657 11.4455"
                        stroke="#030917"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                </div>
              </div>
              <div class="team-body">
                <div class="team-info">
                  <h5 class="title">Legacy Wealth Advisor Insights</h5>
                  <p class="short-title">
                    This service involves creating customized financial plans
                    tailored to the individual needs.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="case-study-details.html" class="team-card style-two h-100">
              <div class="team-thamnel">
                <img src="{% static 'assets/img/caseStudy/case-study-3.png' %}" alt="..." />
                <div class="img-overlay"></div>
                <div class="team-card-btn">
                  <span class="btn-text">View More</span>
                  <span class="icon-arrow">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="13"
                      height="12"
                      viewBox="0 0 13 12"
                      fill="none"
                    >
                      <path
                        d="M1.0874 9.49938L11.9127 3.24938M11.9127 3.24938L3.71657 1.05322M11.9127 3.24938L9.71657 11.4455"
                        stroke="#030917"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                </div>
              </div>
              <div class="team-body">
                <div class="team-info">
                  <h5 class="title">Retirement Advisor Insights</h5>
                  <p class="short-title">
                    This service involves creating customized financial plans
                    tailored to the individual needs.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="case-study-details.html" class="team-card style-two h-100">
              <div class="team-thamnel">
                <img src="{% static 'assets/img/caseStudy/case-study-4.png' %}" alt="..." />
                <div class="img-overlay"></div>
                <div class="team-card-btn">
                  <span class="btn-text">View More</span>
                  <span class="icon-arrow">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="13"
                      height="12"
                      viewBox="0 0 13 12"
                      fill="none"
                    >
                      <path
                        d="M1.0874 9.49938L11.9127 3.24938M11.9127 3.24938L3.71657 1.05322M11.9127 3.24938L9.71657 11.4455"
                        stroke="#030917"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                </div>
              </div>
              <div class="team-body">
                <div class="team-info">
                  <h5 class="title">Economies Advisor Impact</h5>
                  <p class="short-title">
                    This service involves creating customized financial plans
                    tailored to the individual needs.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="case-study-details.html" class="team-card style-two h-100">
              <div class="team-thamnel">
                <img src="{% static 'assets/img/caseStudy/case-study-5.png' %}" alt="..." />
                <div class="img-overlay"></div>
                <div class="team-card-btn">
                  <span class="btn-text">View More</span>
                  <span class="icon-arrow">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="13"
                      height="12"
                      viewBox="0 0 13 12"
                      fill="none"
                    >
                      <path
                        d="M1.0874 9.49938L11.9127 3.24938M11.9127 3.24938L3.71657 1.05322M11.9127 3.24938L9.71657 11.4455"
                        stroke="#030917"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                </div>
              </div>
              <div class="team-body">
                <div class="team-info">
                  <h5 class="title">Sustainable Finance Strategies</h5>
                  <p class="short-title">
                    This service involves creating customized financial plans
                    tailored to the individual needs.
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="case-study-details.html" class="team-card style-two h-100">
              <div class="team-thamnel">
                <img src="{% static 'assets/img/caseStudy/case-study-6.png' %}" alt="..." />
                <div class="img-overlay"></div>
                <div class="team-card-btn">
                  <span class="btn-text">View More</span>
                  <span class="icon-arrow">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="13"
                      height="12"
                      viewBox="0 0 13 12"
                      fill="none"
                    >
                      <path
                        d="M1.0874 9.49938L11.9127 3.24938M11.9127 3.24938L3.71657 1.05322M11.9127 3.24938L9.71657 11.4455"
                        stroke="#030917"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </span>
                </div>
              </div>
              <div class="team-body">
                <div class="team-info">
                  <h5 class="title">Financial Wellness Lessons</h5>
                  <p class="short-title">
                    This service involves creating customized financial plans
                    tailored to the individual needs.
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- End All Services-->

    <!-- Start Footer -->
    <div class="ak-height-125 ak-height-lg-80"></div>
    {% include 'include/footer.html' %}
    <!-- End Footer -->

    <span class="ak-scrollup">
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0 10L1.7625 11.7625L8.75 4.7875V20H11.25V4.7875L18.225 11.775L20 10L10 0L0 10Z"
          fill="currentColor"
        />
      </svg>
    </span>
    <!-- Start Video Popup -->
    <div class="ak-video-popup">
      <div class="ak-video-popup-overlay"></div>
      <div class="ak-video-popup-content">
        <div class="ak-video-popup-layer"></div>
        <div class="ak-video-popup-container">
          <div class="ak-video-popup-align">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="about:blank"></iframe>
            </div>
          </div>
          <div class="ak-video-popup-close"></div>
        </div>
      </div>
    </div>
    <!-- End Video Popup -->
{% endblock %}